
#Join-Form {
	margin-top: 10%;
}
.loginbtns {
	text-align:center;
	margin-left:-2em;
}  
.loginbtns .btn {
	height: 40px;
	margin-bottom: 10%;
	margin-top: 5%;
	margin-left: 1%;
}

.Loginbody {
	padding:0 15%;
}

.loginform {
	margin-bottom:1em;
}
.loginform .btn {
	height: 33px;
	width: 90px;
	margin-left:0.6em;
}

.formTitle {
	font-size: 20px;
	color: #287175;
	padding-top:0.3em;
	text-align:right;
}
.formTitle>span {
	color:#f00;
	margin-right:0.5em;
}
.checkMan {
	padding-left: 0;
}
.dateFrm {
	margin-left: 0 !important;
}
.marginForm {
	margin-bottom: 3% !important; 
}
.categoryFrm {
	margin-left: 35%;
	margin-top: 1%;
}
.bigCategory {
	display:inline-block;
	width:20%;
	height:3em;
	font-weight:bold;
}
.Loginbody .loginbtns .btn.btn-info,
.logon_container .btn-info {
	background-color:#7fcacd;
	border-color:#7fcacd;
	color:#fff;
}
.Loginbody .loginbtns .btn.btn-info:hover,
.Loginbody .loginbtns .btn.btn-info:focus,
.Loginbody .loginbtns .btn.btn-info:active,
.logon_container .btn-info:hover,
.logon_container .btn-info:focus,
.logon_container .btn-info:active {
	background-color:#4db8bd;
	border-color:#4db8bd;
	color:#fff;
}
